@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-bg: #1e1e1e;
    --secondary-bg: #333;
    --accent-color: #00ff99;
    --text-color: #e0e0e0;
    --button-bg: #2c2c2c;
    --button-hover-bg: #444;
    --border-color: #00ff99;
    font-family: 'Figtree', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg);
}

.calculator {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 28px;
    padding-right: 15px;
    color: var(--text-color);
    background-color: var(--button-bg);
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    background-color: var(--button-bg);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #002c1a;
    transform: scale(1.05);
}

h1{
    text-align: center;
    color: #00ff99;
}